---
- name: System change
  hosts: localhost
  become: true

  tasks:
    - name: Install common package
      ansible.builtin.package:
        name:
          - zsh
          - zplug
          - wget
          - curl
          - git
          - make
          - gcc
          - locales-all
        state: present

    - name: Change a shell to zsh
      ansible.builtin.blockinfile:
        destfile: /etc/shells
        block: /usr/bin/zsh

    - name: Add user in Sudoers
      ansible.builtin.blockinfile:
        create: true
        mode: '440'
        destfile: "/etc/sudoers.d/{{ user }}"
        block: "{{ user }}    ALL=NOPASSWD: ALL"

- name: Install Neovim
  hosts: localhost
  tasks:
    - name: Install Dependency packages
      become: true
      ansible.builtin.package:
        name:
          - ripgrep
          - unzip
          - xclip
        state: present

    - name: Install Neovim appimage
      become: true
      ansible.builtin.get_url:
        url: https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.appimage
        force: true
        mode: '0755'
        dest: /opt/nvim//nvim

    - name: Clone neovim setting repo
      become: true
      become_user: "{{ user }}"
      ansible.builtin.git:
        repo: https://github.com/geometriccross/nvim_settings.git
        dest: "/home/{{ user }}/.config/nvim"
        version: main
        update: true

- name: Setup dotfiles
  hosts: localhost
  become: true
  become_user: "{{ user }}"
  tasks:
    - name: Get dotfiles pathes
      ansible.builtin.find:
        # playbook_dir is the root directory where this repository is cloned
        paths: "{{ playbook_dir }}/dot"
        file_type: any
        hidden: true
      register: dotfiles

    - name: Create symbolic link except specific files
      ansible.builtin.file:
        src: "{{ item.path }}"
        dest: "/home/{{ user }}/{{ item.path | basename }}"
        state: link
        force: true
      loop: "{{ dotfiles.files }}"
      become: false
